
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'background.jpg' %>);">
  <div class="container">
    <h1>Lessons</h1>

  </div>
</div>

<% @lessons.each do |lesson| %>
<div class ="container col-6">
  <div class="card-product">
    <%= image_tag 'code1', width:160, height:160%>
    <div class="card-product-infos">
      <h2><%= lesson.name.capitalize %></h2>
      <p><%= lesson.price %> €<strong>
        <p><%= lesson.location %></strong></p>
<!--         <p><%= lesson.description %> </p>
 -->      </div>
      <div class="card-body d-flex justify-content-end">
        <%= link_to 'View details', lesson_path(lesson), class: "btn btn-outline-success newbutton mr-3" %>
        <%= link_to 'Book now', new_lesson_booking_path(lesson), class: "btn btn-primary newbutton "%>
      </div>
    </div>

  </div>
  <% end %>
<div class="container d-flex justify-content-center">
  <%= link_to 'Back to homepage', root_path, class: "btn btn-outline-primary newbutton " %>
  </div>







