<div class="container col-lg-6 ">
  <h1>Lesson: <%= @lesson.name %> </h1>
  <div class="card-product">
    <% if @lesson.photo? %>
    <%= cl_image_tag @lesson.photo, width:160, height:160 %>
    <% else %>
    <%= image_tag image_url("code3.jpg"), width:160, height:160 %>
    <% end %>

    <div class=" card-product-infos">
      <h2> <%= @lesson.location %> </h2>
      <h2> <%= @lesson.price %> € </h2>

      <p> <%= @lesson.description%> </p>
    </div>
<!--       <video src="https://giphy.com/gifs/13UZisxBxkjPwI/html5"></video>
 -->    <div class="card-body  d-flex justify-content-end">
      <%= link_to 'Book now', new_lesson_booking_path(@lesson), class: "btn btn-outline-primary newbutton" %>
    </div>
  </div>

  <div class="card-map">
    <div id="map" style="height: 100vh; width: 100%; position: -webkit-sticky; top: 0px" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= 'pk.eyJ1IjoiaWJtbWciLCJhIjoiY2szOGw0MWp1MDl2czNjcnRxZzJlZDB4diJ9.AcGFizvxSXA8jmm2hDFSKg' %>"></div>
  </div>

  <%= link_to 'Back to Lessons', lessons_path, class: "card-link btn btn-outline-success newbutton-1 offset-4.5" %>

</div>



<div class="container">


    <div class="row">
      <div class="col-sm-7 offset-2">
        <hr/>
        <div class="review-block">
          <div class="row">
            <div class="col-sm-3">
              <div class="review-block-name"><a href="#">JOHNNY</a></div>
              <div class="review-block-date">November 21, 2019<br/>1 day ago</div>
            </div>
            <div class="col-sm-9">
              <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
              </div>
              <div class="review-block-title">Great lesson</div>
              <div class="review-block-description">I was completely amazed by the teaching style,the material I learned in just 2 hours! </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-sm-3">
              <div class="review-block-name"><a href="#">BEN</a></div>
              <div class="review-block-date">November 8, 2019<br/>A few days ago</div>
            </div>
            <div class="col-sm-9">
              <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
              </div>
              <div class="review-block-title">Not my favorite</div>
              <div class="review-block-description">Although the teacher was good, I thought the material was not adequate</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /container -->





